/* -------------------------------------------------- *\
    Import Fonts
\* -------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* -------------------------------------------------- *\
    Variables
\* -------------------------------------------------- */

:root{
    --blue: #0065FC;
    --lightBlue: #DEEBFF;
    --grey: #F2F2F2;
    --darkGrey: #DBDBDB;
    --white: #FFF;
    --black: #000;
}

/* -------------------------------------------------- *\
    General style
\* -------------------------------------------------- */

html {
    scroll-behavior: smooth;
}
  
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--balck);
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

h1, h2{
    font-weight: 700;
    font-size: 1.5rem;
    margin: .8rem 0;
}

h3{
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

p{
    line-height: 1.2rem;
    margin: 0;
}

.star{ color: var(--darkGrey); }

.star--colored{ color: var(--blue); }

/* -------------------------------------------------- *\
    MEDIA QUERIES
\* -------------------------------------------------- */

@media screen and (min-width: 1095px){
    .l-header, .l-main{
        max-width: 1340px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .l-main .search-sec, .l-main .activities-sec{ margin-left: 0; margin-right: 0; }
}