/* -------------------------------------------------- *\
    Header
\* -------------------------------------------------- */

.l-header{
    display: grid;
    grid-template-columns: 21px auto 1fr auto 21px;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    ". logo . register ."
    "nav nav nav nav nav";
    align-items: center;
    height: 132px;
}

.logo-reservia{ grid-area: logo; }

.register-link{
    grid-area: register;
    padding: 20px 0;

    font-weight: 700;
    color: var(--blue);
}

.nav-bar{ grid-area: nav; height: 100%; }

.nav-bar__links{ display: flex; height: 100%; }

.nav-bar__links__item{ width: 50%; border-bottom: 3px solid var(--grey); text-align: center; }

.nav-bar__links__item.is-active{ color: var(--blue); border-color: var(--blue); }

.nav-bar__links__item a{  display: block; padding: 20px; }

@media screen and (min-width: 600px){
    
    .l-header{
        grid-template-columns: auto 1fr auto auto;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "logo . nav register";
        gap: 20px;
        height: 115px;
        max-width: 1340px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .nav-bar{ height: 100%; }

    .nav-bar__links{ gap: 20px; }

    .nav-bar__links__item{
        display: flex;
        align-items: center;
        width: auto;
        height: 100%;
        border-bottom: 0px;
    }

    .nav-bar__links__item.is-active{ color: var(--blue); border-top: 2px solid var(--blue); }
    
    .nav-bar__links__item a{  display: block; }
}